body{
    background-color: aqua;
    justify-content: space-around;
    flex-direction: row;
}
.border{
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 50px;
    margin: 0%;
    background-color: #D9D9D9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
.unit{
    margin-top: 40px;
}
.home{
    margin-top: 5px;
    padding: 10px;
    padding-bottom: 70px;
    margin-bottom: 5px;
    background-color: whitesmoke;
}
.foot{
    background-color: #D9D9D9;
    padding: 7px;
display: flex;
justify-content: space-between;
}


.foot img {
    flex-direction: row;
    width: 60px;
    height: 60px;
}


.name {
    padding: 10px;
    border-color: black;
    border-style: inset;
    background-color: white;
    width: 250px;
    border-radius: 5px;
}
.log{
    margin-top: 40px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: blue;
    width: 50px;
    border-radius: 5px;
    color: white;
}
.ekek{
    text-decoration: none;
    color: white;
}